@page "/counter"
@using RiverCsvReader.Models;
@using System.Globalization;
@using System.Text;
@using System.Web;
@inject HttpClient Http

<h3>Salmon Data</h3>
<ul>
    @foreach (var item in listOfRivers)
    {
      <li>
        Name - @item.Name,
        Date - @item.Date,
        Population - @item.Population,
      </li>
    }
</ul>
@code {
    List<River> listOfRivers = new List<River>();
protected override async Task OnInitializedAsync()
    {
        string csvRivers = await Http.GetStringAsync("sample-data/Salmon Fish Data - Alaska.csv");
        List<string> riversRows = csvRivers.Split("\n").ToList();
        for (int i = 0; i < riversRows.Count; i++)
        {
            if (i > 0) // Ignore 1st row which is column headers
            {
                 List<string> riverStringList = riversRows[i].Split(",").ToList();
                 
                 River river = new River(
                     riverStringList[0],
                     DateOnly.Parse(riverStringList[1]),
                     int.Parse(riverStringList[2])
                 );
                listOfRivers.Add(river);
            }
        }
    }
}