@page "/"

<PageTitle>Home</PageTitle>

<h1><b>Salmon Finder!</b></h1>

<p>Rivers to explore:</p>

<p><b>Copper River</b></p>

<p> A 290 miles long river located in South Central Alaska, famous for its Sockeye and King salmon runs. This river is created from a watershed stretching into the Wrangell Saint-Elias National Park and Wildlife reserve and the Chugach Mountains, draining the waters from both into the Gulf of Alaska between Prince William Sound and Kayak Island. This river is used by millions of Pacific salmon every year, with almost a million sockeye salmon running in May. The river is famous for its extensive delta. 
</p>

<p><b>Naknek River</b></p>

<p> The 35 mile long river flows from Naknek lake and empties into Bristol Bay. The river is famous for its sockeye salmon runs and supports the town of King Salmon, situated near the river's mouth. This river has some of the largest salmon runs in the world. 
</p>

<p><b>Nushagak River</b></p>

<p> The 280 mile long Nushagak River is located in South West Alaska, emptying into Bristol Bay. The river starts in the Alaska Range, flowing downstream of the formerly proposed site of the Pebble Mine. The river supports a thriving run of sockeye, pink, king, and coho salmon every year and supports the Bristol Bay fisheries. 
</p>

<p><b>Kenai River</b></p>

<p> This 82 mile long river is the longest in the Kenai peninsula, boasting some of the largest sockeye and king salmon runs on the peninsula. The river flows from Kenai Lake and the Kenai Mountains, through the Kenai National Wildlife Refuge and into Cook Inlet. Hundreds of thousands of king, sockeye, coho, and pink salmon run here every year, supporting a lively fishery. 
</p>

<p>Image!</p>

<img src="Client/wwwroot/image/Copper River Pic.jpeg" alt="A river">

